<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mercatoria Truck - Cliente</title>

    <!-- CSS premium -->
    <link rel="stylesheet" href="{{ url_for('static', filename='cliente.css') }}">
</head>

<body>

    <!-- NAVBAR PREMIUM -->
    <div class="navbar">
        <div class="logo">🚚 Mercatoria Truck</div>

        <div>
            <a href="/cliente">Inicio</a>
            <a href="/cliente/solicitar">Nueva Solicitud</a>
            <a href="/cliente/activos">Estado</a>
            <a href="/cliente/historico">Historial</a>
            <a href="/logout" class="btn-salir">Salir</a>
        </div>
    </div>

    <!-- CONTENIDO -->
    {% block contenido %}{% endblock %}

</body>
</html>
