{% extends "base.html" %}

{% block title %}Inicio Operador{% endblock %}

{% block contenido %}

<h2 class="fw-bold mb-4">Panel del Operador</h2>

<div class="row g-4">

    <div class="col-md-3">
        <a href="/viajes" class="card card-btn p-4 text-center shadow-sm">
            <h4 class="fw-bold mb-2">Viajes</h4>
            <p>Gestión completa</p>
        </a>
    </div>

    <div class="col-md-3">
        <a href="/viajes/nuevo" class="card card-btn p-4 text-center shadow-sm">
            <h4 class="fw-bold mb-2">Nuevo Viaje</h4>
            <p>Crear transporte</p>
        </a>
    </div>

    <div class="col-md-3">
        <a href="/camioneros" class="card card-btn p-4 text-center shadow-sm">
            <h4 class="fw-bold mb-2">Camioneros</h4>
            <p>Flota y estado</p>
        </a>
    </div>

    <div class="col-md-3">
        <a href="/clientes" class="card card-btn p-4 text-center shadow-sm">
            <h4 class="fw-bold mb-2">Clientes</h4>
            <p>Empresas y contactos</p>
        </a>
    </div>

</div>

{% endblock %}
